*{
  margin: 0px;  
}
body{
    background-image: url(img/dinoranchfondo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    font-family: agbalumo;  
}
#formulario{
    background: greenyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 20vh;
    margin: 5px;
}
.ingresar{
    margin: 0.5rem;
    border-radius: 10px;
    padding: 5px;
}
.boton{
    margin: 0.5rem;
    border-radius: 10px;
}

#alerta{
    background: greenyellow;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 20vh;
    margin: 5px;
    padding: 10px;
}
.volver{
    margin: 0.5rem;
    border-radius: 10px;
}
#principal{
    display: none;
    background: rgb(211, 146, 195, 0.5);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 128, 0);
    font-weight: bold;
    font-size: 1.4rem;
    height: 100vh;
}
.dulce{
    color: green;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    font-family: agbalumo;
}
.parrafo{
    background-color: white;
    margin: 10px;
    font-size: 1.2rem; 
    padding: 0.9em;
}
.dul{
    border-radius: 100px;
    height: 10em;
}
